@model IEnumerable<HansViolinWebApp.Models.Item>



<section id="hero" style="background-image: url(@ViewBag.Category.CoverUrl)" class="mb-5">
    <div class="hero-container">
        <div class="wow fadeIn">
            <h1 data-aos="fade-up">@ViewBag.Category.CategoryName</h1>
            <div class="description-wrapper" data-aos="fade-up" data-aos-delay="100">
                <p class="newline-wrapper">@ViewBag.Category.Description</p>
            </div>
        </div>
    </div>
</section><!-- End Hero -->

<div class="content-wrapper mb-5" data-aos="fade-up">
    <div class="my-3 text-center">
        @if (Model.Count() == 0)
        {
            <p>No instrument available</p>
        }
    </div>
    @foreach (var item in Model)
    {
        <div class="pt-3 px-5 instrument-container">
            <a asp-area="" asp-controller="instruments" asp-action="detail" asp-route-id="@item.ItemId">
                <div class="instrument-cover">
                    @{
                        var image = @item.Images.Where(i => i.ImageId == item.CoverId).FirstOrDefault();
                        var url = image != null ? image.Url : "#";
                    }
                    <img class="instrument-image" src=@url />
                </div>

                <div class="instrument-heading">
                    <div class="heading">@item.ItemName</div>
                </div>
            </a>
        </div>
    }

</div>



